@media (min-width: 650px) {
    .header-buttons {
        display: flex;
        gap: 0.5rem;
    }

    #menu_btn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        background-color: var(--secondary);
        justify-content: space-between;
        padding: 5px 30px;
        font-size: large;
    
    }

    nav a {
        border: none;
        padding: 0.5rem 1rem;
        background-color: var(--secondary);
        color: var(--button-text);
    }

    nav a:hover {
        background-color: var(--button);
        color: var(--button-text);
        border-radius: 6px;
    }

        /* ✅ Botones del toggle */
        .view-toggle-setlist button {
            display: inline-block;
            background-color: var(--button);
            color: var(--button-text);
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-right: 0.5rem;
            transition: background-color 0.2s;
        }
    
        .view-toggle-setlist button:hover {
            background-color: var(--button-hover);
        }

    /*HOMEPAGE*/

        .hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .hero picture,
        .hero .hero-text {
            width: 50%;
            margin: 10px;
            background-color: transparent;
        }

    
        .hero-image {
            max-width: 100%;
        }
        
    
        .hero-title {
            font-size: 2.5rem;
        }
    
        .hero-subtitle {
            font-size: 1.4rem;
            color: var(--text);
        }
    
        .hero-buttons {
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }
    
        .section-title {
            font-size: 1.8rem;
        }
    
        .random-song {
            width: 60%;
            margin: 0 auto 1.5rem;
            font-size: 1.2rem;
        }
}