/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F7F7F7;
    color: #2E2E2E;
}

/* ---------------- HEADER ---------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9B5DE5;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: white;
}

#tittle {
    font-size: 1.2rem;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    width: 30px;
    height: auto;
}

.logo-container h1 {
    font-size: 1rem;
    margin: 0;
}

/* Btn hamburguer */

#hamburgerBtn {
    font-size: 1.5rem;
    padding: 5px 9px 6px;
    color: white;
    position: absolute;
    right: 0.5rem;
    border: 5px;
    background-color: #9B5DE5;
}

#hamburgerBtn::before {
    content: "☰"
}

#hamburgerBtn.open::before {
    content: "X";
}

/* NAV */
nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #F7F7F7;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #333;
}

nav a {
    display: block;
    padding: 0.8rem;
    color: #2E2E2E;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: #17526d;
    color: white;
}

nav.open {
    display: block;
}


/* ---------------- MAIN ---------------- */
main {
    padding: 1rem;
}

h2 {
    margin-top: 1rem;
}

/* Secciones tipo "widget" */
section {
    margin: 1rem 0;
    background: #F3E9FF;
    border: 1px solid #F3E9FF;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
}

section h2 {
    margin: 0;
    padding: 0.5rem;
    background: #FEE440;
    color: #2E2E2E;
    font-size: 1rem;
}

section p {
    padding: 0.8rem;
    font-size: 0.9rem;
}

/* Foto de estudiante */
.student-photo {
    width: 100%;
    height: 200px;
    background: #F3E9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Cursos */
.courses {
    padding: 1rem;
}

.courses button {
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    border: none;
    background: #FEE440;
    cursor: pointer;
}

.courses button:hover {
    background: #17526d;
    color: white;
}

.course-list {
    margin-top: 0.5rem;
}

.course-list div {
    background: #F7F7F7;
    color: #17526d;
    padding: 0.5rem;
    margin: 0.2rem 0;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

/* ---------------- FOOTER ---------------- */
footer {
    text-align: center;
    padding: 1rem;
    background: #2E2E2E;
    border-top: 1px solid #ccc;
    font-size: 1rem;
    color: white; #
}

footer .social {
    margin: 1rem 0;
}

footer .social img {
    width: 30px;
    height: 30px;
    margin: 0.5 1rem;
}