/* Reset básico */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #F7F7F7;
    color: #2E2E2E;
}

/* ---------------- HEADER ---------------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #17526d;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
    position: relative;
    color: white;
}

#tittle {
    font-size: 1.2rem;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    width: 30px;
    height: auto;
}

.logo-container h1 {
    font-size: 1rem;
    margin: 0;
}

/* Btn hamburguer */

#hamburgerBtn {
    font-size: 1.5rem;
    padding: 5px 9px 6px;
    color: white;
    position: absolute;
    right: 0.5rem;
    border: 5px;
    background-color: #17526d;
}

#hamburgerBtn::before {
    content: "☰"
}

#hamburgerBtn.open::before {
    content: "X";
}

/* NAV */
nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #F7F7F7;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #333;
}

nav a {
    display: block;
    padding: 0.8rem;
    color: #2E2E2E;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: #17526d;
    color: white;
}

nav.open {
    display: block;
}


/* ---------------- MAIN ---------------- */
main {
    padding: 1rem;
}

h2 {
    margin-top: 1rem;
}

/* Secciones tipo "widget" */
section {
    margin: 1rem 0;
    background: #F3E9FF;
    border: 1px solid #F3E9FF;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
}

section h2 {
    margin: 0;
    padding: 0.5rem;
    background: #6A4C93;
    color: #F3E9FF;
    font-size: 1rem;
}

section p {
    padding: 0.8rem;
    font-size: 0.9rem;
}

/* Foto de estudiante */
.student-photo {
    width: 100%;
    height: 200px;
    background: #F3E9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Cursos */
 .buttons {
     display: flex;
     justify-content: center;
     gap: 10px;
     margin: 20px 0;
 }

 button {
     background: #17526d;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 10px;
     cursor: pointer;
     font-size: 1rem;
 }

 button:hover {
     background: #17526d;
 }

 .grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
     padding: 20px;
 }

 .card {
     border: 2px solid #ddd;
     border-radius: 15px;
     padding: 20px;
     background: white;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }



 .card h3 {
     color: #9B5DE5;
     text-align: center;
 }


 .status {
     font-weight: bold;
     margin-top: 10px;
 }

 .status.completed {
     color: #17526d;
 }

 .status.pending {
     color: #650808;
 }

 .credits-total {
     text-align: center;
     font-weight: bold;
     margin: 20px 0;
     font-size: 1.2rem;
 }

/* Detalles del curso */
dialog {
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

/* ---------------- FOOTER ---------------- */
footer {
    text-align: center;
    padding: 1rem;
    background: #2E2E2E;
    border-top: 1px solid #ccc;
    font-size: 1rem;
    color: white; 
}

footer .social {
    margin: 1rem 0;
}

footer .social img {
    width: 30px;
    height: 30px;
    margin: 1rem;
}